{% extends "index.html" %}
{% block title %}About{% endblock %}
{% block content %}

<body id="aboutpage">

    <div class="about">
        <div class="about-me">
            <h4 id="moreabout">More about Me</h4>
            <br>
            <p class="moreme">My Name is Selena. I’m a self-taught software developer with a 
                passion for programming and building things. I pride myself on making beautiful
                and responsive websites. In my spare time I am always working to better my craft 
                and building personal projects.
               </p>
            
            <br>

            <p class="moreme">My work ethic is unmatched. I will work extremely hard to provide you 
                the best product to fit you business needs and expand your brand.</p> 

        </div>
        <br>
        <br>
        <div class="social-links">
            <h3 class="findMe">Find Me On Social Media</h3>
            <div class="medialinks">
            <a class="social_Link" target="_blank" href= "https://www.youtube.com/channel/UCSyiI8sDQF3_CXoZAqJpIhQ">YouTube: ProgrammingWithCybineer</a>
            <br>
            <a class="social_Link" target="_blank" href="https://twitter.com/ProgramCybineer">Twitter: @ProgramCybineer</a>
            <br>
            <a class="social_Link" target="_blank" href="https://www.instagram.com/programmingwithcybineer/">Instgram: @programmingwithcybineer</a>
            <br>
            <a class="social_Link" target="_blank" href="https://www.facebook.com/programmingwithcybineer/">Facebook: @programmingwithcybineer</a>
            <br>
            </div>   
        </div>
    </div>

</body>
{% endblock %}