{% extends "index.html" %}
{% block title %}About{% endblock %}
{% block content %}

<body id="aboutpage">

    <div class="about">
        <div class="about-me">
            <h4 id="moreabout">More about Me</h4>
            <br>
            <p class="moreme">I believe a website is an extension of a person's brand. I 
                can build unique landing pages that are one of a kind and 
                responsive on all devices. Also, I'm sure I will solve one 
                of your major problem, Not having a website for your business.
                I'm confident that with my knowledge of software Engineering,
                web design and problem solving, I can create the ultimate 
                website for you and your business needs. I look forward to 
                working with you.</p>
            
            <br>

            <p class="moreme">I will work extremely hard to provide you the best website that 
                will fit you business and expand your brand.</p> 

        </div>
        <br>
        <br>
        <div class="social-links">
            <h3 class="findMe">Find Me On Social Media</h3>
            <div class="medialinks">
            <a class="social_Link" target="_blank" href= "https://www.youtube.com/channel/UCSyiI8sDQF3_CXoZAqJpIhQ">YouTube: ProgrammingWithCybineer</a>
            <br>
            <a class="social_Link" target="_blank" href="https://twitter.com/ProgramCybineer">Twitter: @ProgramCybineer</a>
            <br>
            <a class="social_Link" target="_blank" href="https://www.instagram.com/programmingwithcybineer/">Instgram: @programmingwithcybineer</a>
            <br>
            <a class="social_Link" target="_blank" href="https://www.facebook.com/programmingwithcybineer/">Facebook: @programmingwithcybineer</a>
            <br>
            </div>   
        </div>
    </div>

</body>
{% endblock %}