{% extends "index.html" %}
{% block title %}Home{% endblock %}
{% block content %}


<body id="homebody">

    <div class="homePage">
        <div class="welcome">
            <h1 class="homeTitle">Welcome</h1>
            <br>
            <br>
            <p id="intro">Welcome to ProgrammingWithCybineer. I'm Selena, I believe that I'm your future freelance web designer. I believe a website is an extension of a person's brand. I can build unique landing pages that are one of a kind and responsive on all devices. 
            Also, I'm sure I will solve one of your major problem, Not having a website for your business. I'm confident that with my knowledge of software Engineering, web design and problem solving, I can create the ultimate website for you and your business needs. 
            I look forward to working with you.
            </p>
        </div>
    </div>
    
</body>


{% endblock %}