{% extends "index.html" %}
{% block title %}Portfolio{% endblock %}
{% block content %}

<body id="portfoliopage"></body>

<div class="portfolio">
    <div class="portfolio_intro">
        <h2 id="portfolio_title">Check Out Some Of My Work</h2>
        <p class="portfolio_projects">
            Here you will find some of my work. Click the links provided
            to see details and demos of my projects.
        </p>
    </div>
    <div>
        <div class="post">
            <div class="post-preview">
                <h6 class="post-title">Note Tracker Website</h6>
                <img class="thumb-nail" src="static/css/images/LoginNew.jpg" alt="">                
                <p class="post-intro">This is a note tracking website built using HTML, CSS, FLASK, and SQL.
                    The app uses user authentication to allow for CRUD functionality. 
                </p>

                <a class="projectLink" target="_blank" href="https://youtu.be/hBcifKTVv3M">Click for Website Demo</a>
                <a class="projectLink" target="_blank" href="portfolioprojectpost.html">Click for Source Code</a>
            </div>
        </div>
    </div>
    <div>
        <div class="post">
            <div class="post-preview">
                <h6 class="post-title">Portfolio</h6>
                <img class="thumb-nail" src="static/css/images/portfolio1.jpg">
                <p class="post-intro">This is my Portfolio I built using HTML and CSS. The portfolio showcases 
                    my projects and more information about who I am.</p>
                <a class="projectLink" target="_blank" href="portfolioprojectpost.html">Click for more details and Source Code</a>
                <a class="projectLink" target="_blank" href="portfolioprojectpost.html">Click for more details and Source Code</a>
            </div>
        </div>
    </div>
    <div>
        <div class="post">
            <div class="post-preview">
                <h6 class="post-title">Adventure Game</h6>
                <img class="thumb-nail" src="static/css/images/TextBasedGameTitleScreen.jpg">
                <p class="post-intro">A text based adventure game where based of your decisions you will either survive or perish. 
                    The path of the game is completely up to you.</p>
                <a class="projectLink" target="_blank" href="portfolioprojectpost.html">Click for more details and Source Code</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}