{% extends "index.html" %}
{% block title %}Service{% endblock %}
{% block content %}

<body id="servicespage">
    <div class="services">
        <div class="servicesIntro">
            <h2 id="servicesTitle">Services We Provide</h2>
            <p class="serviceDetails">
                             
                <div id="skills">
                    <ul>
                        <li>Responsive Landing Pages</li>
                        <li>Web Design </li>
                        <li>Basic Shopify Design</li>
                        <li>Static Websites</li>
                    </ul>

                    <ul>
                        <li>Video Editing</li>                        
                        <li>Basic Database Setup</li>
                        <li>Social Media Content Design</li>
                        <li>Social Media Integration into existing Website</li>
                    </ul>

                </div>

            </p>

        </div>

    </div>









</body>
{% endblock %}