{% extends "index.html" %}
{% block title %}Service{% endblock %}
{% block content %}

<body id="thankyou"></body>

    <div class="thankyou">
        <h1 class="thankyouTitle">Thank you !!!</h1>
        <p class="thankyouDetails">
            Thank you for taking the time to fill out the consultation request form.
        </p>
        <br>
        <p class="thankyouDetails">
            You will hear back from me within 1 to 3 business days. 
        </p>
        <br>
        <p class="thankyouDetails">
            Don't forget to check your SPAM folder to ensure we don't miss each other. 
        </p>


    </div>

{% endblock %}